body{
  font-family: Arial, sans-serif;
  width: auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}
button:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  color: steelblue;
}
img{
  width: 100%;
  height: 100%;
}
div{
  display: flex;

}
header{
  display: flex;
  position: sticky;
  top:0;
  flex-direction: column;
  border-bottom: 1px solid #9d9a98 ;
  background-color: #fafafa;
  justify-content: flex-start;
  align-content: center;
  width: auto;
  max-width: 100%;
  height:65px;
  z-index: 200;
}
#header .firstLevel{
  display: flex;
  height: 65px;
  width: auto;
  max-width: 100%;
  margin-left: 3%;
  padding-left: 10px;
  margin-right: 1%;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.firstLevel .neutral{
  margin-right: 10px;
}
#header .secondLevel{
  width: 100%;
  display: none;
  height: 65px;
  flex-direction: row;
  justify-content: center;
}
#header .thirdLevel{
  width: 100%;
  padding: 20px;
  display: none;
  justify-content: center;
  gap:2vw;
  align-items: center;

}
.thirdLevel .headCategory:hover{
  text-decoration: underline;
}
#header .fourthLevel{
  width: 100%;
  max-width: 1280px;
  display: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  gap:40px
}
#header .fourthLevel .linksPart{
  gap:25px;
}
.fourthLevel .textPart p{
  color: #00538a;
  font-size: 15px;
  font-weight: bolder;
}
.fourthLevel .headLinks{
  font-weight: lighter;
  font-size: 14px;
}
.menuGroup {
  padding-right: 10px;
}
.menu{
  height: 30px;
  border:none;
  width: 25px;

}
#allSections{
  margin-left: 5px;
  display: none;
  height: 30px;
  border:none;
  width: fit-content;
  font-size: 17px;
  background-color: white;
  color: #616161;
  font-weight: bolder;
}
.neutral{
  width: fit-content;
}
.home{
  border:none;

  width: 52vw;
  max-height:95%;
  max-width: 300px;
  background-color: #fafafa;
}
.headButton{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00538a;
  color: white;
  width: 120px;
  height: 45px;
  margin-right: 20px;
  font-size: 17px ;
  border-radius: 5px;
}
.headButton:hover{
  text-decoration: underline;
  color: white;
  background-color: steelblue;
}
#lateralMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  z-index:10000;
}

.meteoAndDate{
  padding: 0 5px 15px 5px;
}
.meteo a:hover{
  color: black;
}
.secondLevel .meteoAndDate{
  display: none;
  position: fixed;
  left: 0;
  margin-left:3%;
  padding: 15px 0;
}
.meteo{
  align-self: center;
  width: 60px;
  height: 27px;
}
.meteo a{
  width: 100%;
  height: 100%;
  display: flex;
}
.temperature{
  width: 34px;
  height: 100%;
}
.meteoIcon{
  width: 26px;
  height: 100%;
}
.todayDate{
  margin-left: 15px;
  flex-direction: column;
}
.dateShow{
  font-weight: bold;
  font-size: 16px;
  margin:0;
}
.todayDate a{
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  color: #7f817f;
}
.todayDate a:hover{
  color: #7f817f;
  text-decoration: underline;
}
#accountMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  justify-content: flex-end;
  z-index:10000;
}
#accountMenu{
  transition: width 0.05s;
}
#searchMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  justify-content: flex-end;
  z-index:10000;
}
#searchMenu{
  transition: width 0.05s;
}
.lateral{
  border: black solid 1px;
  flex-direction: column;
  background-color: white;
  width: 100%;
  min-height:100% ;
  height:fit-content;
  max-width:300px;
}
#searchMenu .lateral{
  max-width: none;
  height: fit-content;
  min-height:0 ;
  padding: 10px 4%;
  border: #7d7d7d solid 2px;
  box-shadow: black 0 0 5px;
}

.search div{
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 5px;
}
.search img{
  flex-grow: 0;
  width: 25px;
  height: 25px;
}
.search form{
  display: flex;
  padding: 5px;
  width: 100%;
}
.search form input{
  border: none;
  font-size: 17px;
  color: black;
  font-weight: lighter;
  margin-right: auto;
}
.search form button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #095f9e;
  cursor:pointer;
  color:white ;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  padding: 8px 10px;
  border-radius: 5px;

}
:focus {
  outline: white;
}
::placeholder {
  color: #7d7d7d ;
  opacity: 1;
}
.up{
  flex-direction: column;
  padding:0 10px;
}
#accountMenu .signupMenu{
  margin-top:auto;
  margin-bottom: 25vh;
}
.up .homepage{
  align-content: baseline;

}
.homepage a{
  font-weight: bold;
  font-size: 20px;
}

#figure{
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
#figure img{
  width: 100%;
  height:100%;
}

.signupMenu{
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-top: black solid 1px;
  padding-top: 20px;
  height: fit-content;
}
.signupMenu p{
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;

}

.signupMenu a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005d9c;
  border: #005d9c solid 1px;
  text-decoration: none;
  color: white;
  width: 75%;
  height: 40px;
  border-radius: 5px;
}
.signupMenu a:hover{
  background-color: steelblue;
  text-decoration: underline;
}
.subscribeButtonMenu{
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  justify-content: center;
}
.subscribeButtonMenu a{
  font-size: 16px;
  color: white;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #005d9c solid 1px;
  border-radius: 5px;
  background-color: #005d9c;
}


.subscribeButtonMenu a:hover{
  text-decoration: underline;
  background-color: steelblue;
  border-color: #005d9c;

}
section{
  flex-direction: column;
  width: auto;
  max-width: 1280px;
  margin: 5px;
  padding: 5px;
  display: flex;
}
.frontPage{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.front{
  flex-direction: column;
  width: 100%;
}
.articles{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}
.main{
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: dimgray solid 1px;
}
.articleTitle{
  width: 100%;
  flex-direction: column;
}
.articleTitle h1{
  font-weight: 800;
  font-family:Helvetica, sans-serif;
}
.articleBody{
  margin-top: 0;
  font-size: 16px;
  color: #2b303d ;
  font-weight: lighter;
  font-family: "Times New Roman", Serif;
}
#mainTitle{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
.mainImg{
  width: 100%;
}
.mainImg a{
  width: 100%;
}
.relatedTitle{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: #5c5a5e;
}
.related{
  margin: 0;
  padding: 5px 5px 0 5px;
  list-style: none;
  border-top: black solid 1px;
}
.related a{
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
}
.related li{
  padding: 5px 0;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
.related li:before{
  content:"•";
  font-size:13px;
  vertical-align:middle;
  line-height:20px;
}
.related li div{
  display: flex;
  flex-direction: column;
}
.timeAgo{
  color: #6a6a73;
  font-size: 12px;
  margin: 5px 0 0 0;
}
.subArticle{
  width: 100%;
  height: auto;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 25px 0;
  border-bottom: #aaa7a4  solid 1px;
}
.subArticleText{
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
}
.subArticle a {
  width: 45%;
  height: 17vw;
}
.subArticleText a{
  height: 40%;
  width: 100%;
  font-weight: 780;
  font-size: 20px;
}
.subArticle a img{
  height: 100%;
  width: 100%;
}
.ad{
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
}
.special{
  border-bottom: #da4b1f solid 2px;
  display: block;
  width: 100%;
  color: #dc582f;
  margin:0 0 5px 0;
  font-weight: normal;
  font-size: 22px;
}

.images{
  max-width: 400px;
  height: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.images a{
  height: fit-content;
}
.images a img{
  height: 90px;
  width: 100%;
}
.seeAll{
  color: #808080;
  font-size: 13px;
  font-weight: normal;
}
.seeAll:hover{
  color: #808080;
}
.headlines{
  flex-direction: column;
  margin-top: 60px ;
  width: 100%;
}
.newsHead{
  color: #5d5b5a;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: #005d9c solid 2px;
  font-family: "Times New Roman", Serif;
}
.headline{
  border-top: #ddd8d5 solid 1px;
  padding: 20px 0;
  flex-direction: column;
}
#firstHeadline{
  border: none;
}
.headline a{
  font-size: 15px;
}
.headline a p{
  display: inline;
}
.signup{
  background-color: #ecede7;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-items:  center;
  height: 100px;
  padding: 10px;
}
.signup p{
  margin: 15px;
  text-align: center;
  font-weight: 790;
  font-size: 16px;
}
.signup a{
  border: #005d9c solid 2px;
  color: #005d9c;
  width:100px;
  height: 40px;
  background-color: #ecede7;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup a:hover{
  background-color: #0072b4;
  color: white;
}
.subPrime{
  flex-direction: row;
  align-content: baseline;
  flex-wrap: wrap;
}
.subOnly{
  margin-bottom: 5px;
  margin-top: 0;
  padding: 5px;
  background-color: #005e9d;
  color: white;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  text-align: left;
}
.paper{
  margin: 50px 0 0 0;
  justify-content: center;
  width: 100%;

}
.paper a {
  width: 50vw;
  margin:0 auto;
  height: 100%;
}
.recommended{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
}
.forYou{
  font-family: "Times New Roman", Serif;
  margin-bottom: 30px;
  color: #005d9c;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  border-bottom: #005d9c solid 2px;
}
.element{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.number{
  background-color: #005d9c;
  color: white;
  border-radius: 1000px;
  flex: 0 0 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}
.text{
  font-size: 16px;
}
.categories{
  width: 100%;
  flex-direction: row;
  margin-top: 130px;
  flex-wrap: wrap;
}
.category{
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}
.categoryHead{
  color: #5d5b5a;
  font-family: "Times New Roman", Serif;
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: normal;
  border-bottom: #005d9c solid 2px;
  display: flex;
  gap:10px;
  align-items: center;
}
.categoryHead img{
  width: 22px;
}
.categoryText{
  flex-direction: column;
}
.categoryRelated{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.relatedNews{
  border-top: #E5E4E2 solid 1px;
  flex-direction: column;
  padding: 20px 0;
}
.categoryImg{
  padding: 0;
  flex-direction: column ;
  width: 100%;

}

.categoryImg a{
  margin-bottom: 30px;
  font-size: 20px;
  width: 100%;
}
.categoryImg a img{
  width: 100%;
  height: 100%;
}

.categoryHead:hover{
  color: steelblue;
}
.categoryName a{
  text-decoration: none;
  display: block;
  width: 100%;
}
.categoryName{
  display: block;
  margin-bottom: 10px;
}
li button{
  margin: auto;
}
.photoText{
  flex-direction: column;
  padding: 0;
  align-content: flex-start;
}
.othersSub{
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border-bottom: #E5E4E2 solid 1px;
  border-collapse: collapse;
  padding :20px 0;
}

.subImg{
  flex: 0 0 90px;
  height: 50px;
  margin-right: 10px;
}
.subImg a{
  width:100%;
  height: 100%;
}
.subImg img{
  width:100%;
  height: 100%;
}

.variant .othersSub a{
  font-size: 14px;
}
.photo\&video {
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.variant .categoryImg a{
  font-size: 25px;
  font-weight: 1000;
}
.photo\&video .categoryImg p{
  display: none;
}
.hiddenArticles{
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
  margin-bottom: 30px;
}

.hiddenArticles a{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.hiddenArticles img{
  width: 100%;
  height: 25vw ;

}
.hiddenArticles div{
  flex-direction: column;
}
.hiddenArticle{
  width: 47%;
  flex-direction: column;
  height: 250px;
  margin-bottom: 10px;
}
.promoFull{
  width: 100%;
  height: 50vw;
  max-width: 552px;
  max-height: 287px;
  margin-bottom: 40px;
  margin-top: 80px;
}
.promoFull img{
  width: 100%;
  height: 100%;
}
.promoFull a {
  width: 100%;
  height: 100%;
}
.centeredGeometry{
  justify-content: center;
  border-top: #E5E4E2 solid 1px;
}
#triangolo {
  width: 0;
  height: 0;
  line-height: 0;

  border-top: 25px solid #E5E4E2;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.showMore{
  background-color: #fafafa;
  display: block;
  text-align: center;
  border: none;
  color: #095f9e;
  font-size: 15px;
  font-weight: 800;
}
.showMore:hover{
  color: black;
}
.variant{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.variant .relatedNews{
  border-top: none;
  border-bottom:#E5E4E2 solid 1px;
}
.first{
  border-top: #E5E4E2 solid 1px;
  border-bottom:#E5E4E2 solid 1px;
  flex-direction: column;
  padding: 20px 0;
}
footer{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: black 0 0 5px inset;
  background-color: #f5f5f5;
}
.end{
  padding-left:40px;
  padding-bottom: 15px;
  flex-direction: column;
  width: auto;

}
.enderPart{
  flex-direction: column;
  border-top: black solid 2px;
  width: 100%;
  padding: 20px 0;
  height:fit-content;
}
.headHid{
  justify-content: space-between;
  align-content: baseline ;

}
#hiddenNews,#hiddenContact,#hiddenClass,#hiddenBusiness{
  display: none;
  flex-direction: column;
  margin-top: 10px;

}
#newsButton,#contactButton,#classButton,#businessButton{
  width: 15px;
  height: 15px;
}
.hiddenLink{
  padding: 5px 0;
  font-weight: normal;
}
.hiddenLink:hover{
  color: black;
}
.ender{
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 10px;
}
.ender:hover{
  text-decoration: underline;
  color: black;
}
.options{
  flex-direction: row;
  flex-wrap: wrap;

}

.hidden{
  flex-direction: column;
  justify-content: space-between;
}

.subscribeButton{
  padding-top: 20px;
  width: 100%;
  height: 13vw;
  border-top: black solid 2px;

}
.subscribeButton a{
  font-size: 20px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #095f9e solid 1px;
  border-radius: 5px;
  background-color: #005d9c;
}


.subscribeButton a:hover{
  text-decoration: underline;
  background-color: steelblue;
  border-color: steelblue;

}

.endFinal{
  margin-top: 20px;
  flex-direction: column;
  width: 100%;
  border-top: #E5E4E2 solid 2px;
}
.endPage{
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 15px;
  border-top: #f5f5f5 solid 2px;
  border-bottom: #f5f5f5 solid 2px;
  flex-direction: row;
  flex-wrap: wrap;
}

.endLink{
  width: 100%;
  color: black;
  margin: 12px 0;
  font-weight: lighter;
  font-size: 17px;
}

.endLink:hover{
  color: black;
}



.lateral .enderPart{
  flex-direction: column;
  justify-content: space-between;
  border:none;
  padding:0;
  margin:0;


}
.lateral .enderPart button{
  width: 5px;
  height: 15px;
}

#hiddenMenuNews,#hiddenMenuOpinion{
  padding-left: 20px;
  display: none;
  flex-direction: column;
}
.lateral .hiddenLink{
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}
.lateral  .ender{
  font-weight: bold;
  margin:0;
  font-size: 15px;
}
.lateral  .ender:hover{
  text-decoration: none;
}
.lateral .headHid{
  margin-top: 20px;
}
.subscribeLog{
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;

}
.subscribeLog a{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 60px;
}
#accountMenu .subscribeLog a{
  margin-bottom: 30px;
}
#accountMenu .subscribeLog {
  margin-bottom: 60px;
}
.subscribeLog a:hover{
  color: black;
}
#hp:hover{
  color: black;
}
.half{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}
.a{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.half .enderPart,.half .subscribeButton{
  width: 100%;
}
#footer .homeEnd{
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.homeEnd a{
  width: fit-content;
}
.homeEnd a:hover{
  cursor: pointer;
}
#homeEndImg{
  width: 250px;

}

.upComing{
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: 260px;
}
.upComing a:hover{
  color:black;

}
.upHead{
  height: fit-content;
  max-height:27px;
  padding:5px 20px 10px 20px;
  justify-content: space-between;

}

#upTitle{
  font-weight: lighter;
  font-size: 18px;
}
.upSub{
  font-size: 12px;
  font-weight: lighter;
  margin-right: 20px;
}
.upHead div{
  justify-content: flex-end;
  align-items: center;

}
.upHead div img{
  max-width: 20px;
  max-height: 20px;

}
.upHead span a{
  max-width: 10px;
  max-height: 10px;

}
.upMain{
  max-height: 172px;
  height: 172px;

}
.wrapper{
  position: relative;
  margin-left: 10px;
  width: 100%;
  height: 172px;
  overflow: hidden;


}
.draggable{
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 233.33%;
  height: 172px;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);



}
.sliderContainer{
  align-items: center;

  justify-content: center;
  height: 100%;
}

.drag{
  font-weight: normal;
  height: fit-content;
  font-size: 20px;
  background-color: white;
  width: fit-content;
  border: none;
}

.dragElementHead{
  background-image: url("../img/up.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin:0;
  width: auto;
  height: 80%;

}
.dragElementHead span{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;

  height: fit-content;
  font-size: 11px;
  font-weight: lighter;
}

.dragElement{
  margin-right:10px;
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.dragElementDescription{
  height: 42px;
  flex-direction: column;
  justify-content: flex-start;

}
.dragElementDescription h4{
  margin: 0;
  font-weight: bold;
  font-size: 12px;

}
.dragElementDescription p{
  margin: 5px 0 0 0 ;
  font-weight: lighter;
  font-size: 11px;

}
#first{
  background-color: #005e9d;
  color: white;
}

.upInteractive{
  padding: 6px 20px 0 35px;
  height:50px;
  align-items: center;
  overflow: hidden;
}
.days{
  max-height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.upInteractive .days div{
  width: 50px;
  height: 52px;
  flex-direction: column;
  padding: 6px 0;
  justify-content: flex-start;
  align-content: flex-start;
}
.upInteractive .days div p{
  margin: 0;
  width: 50px;
  height: 20px;
  flex-direction: column;
  text-align: center;
}
.upInteractive img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and(max-width: 640px) {

}
@media only screen and (min-width: 640px) {

  #homeEndImg{
    width: 40vw;
  }
  .articleTitle,.subArticle,.mainImg{
    width: 50%;

  }
  .mainImg{
    height: 30vw;

  }
  .subArticle img{

  }
  .paper{
    height: 105vw;
  }
  .paper a{
    width: 90%;
    max-width: 550px ;
    max-height: 700px;

  }
  .element{
    width: 50%;
  }
  .categories{
    gap:20px;
  }
  .categories .category{
    max-width: 48%;
  }
  .photo\&video .categoryRelated{
    gap: 20px;
  }
  .photo\&video .othersSub{
    width: 48%;
  }
  .centeredGeometry,.showMore{
    width: 100%;
  }
  .upComing{
    width: 50%;
  }
  .upHead span{
    margin-right: 15px;
  }

  .upSub{
    display: none;
  }
  .end{
    width: 40%;
  }
  .subscribeButton{
    height: 50px;

  }
  .subscribeButton a{

    font-size: 17px;
  }
  #hiddenNews,#hiddenContact,#hiddenClass,#hiddenBusiness {
    display: flex;
  }
  #newsButton,#contactButton,#classButton,#businessButton{
    display: none;
  }
  .endPage{
    padding-bottom: 120px;
  }
  .endLink{
    margin: 3px;
  }

}
@media only screen and (min-width: 800px) {
  .home{
    height: 10vw;
    width: 35vw;
  }

  .recommended{
    width: 55%;
  }
  .front{
    width: 40%;
  }
  .paper,.headlines{
    width: 25%;
  }
  .articleTitle,.mainImg{
    width: 100%;
  }
  #lastAd{
    display: none;
  }
  .photo\&video{
    gap: 20px;
  }

  .photo\&video .category,.category{
    width: 60%;
  }
  .photo\&video .promoFull{
    width: 30%;
  }
  .promoFull a{
    margin-top: 120px;
  }
  .end{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .half{
    width: 30%;
    margin-right: 150px;
  }
  #footer .homeEnd{
    justify-content: flex-start;
  }
  #homeEndImg{
    width: 28vw;
  }
  .half .enderPart{
    width: 100%;
  }

  .categories .category{
    max-width: 48%;
  }
  .category + .recommended{
    width: 100%;
  }
  .variant .categoryImg{
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .categoryText{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
  }
  .variant .categoryImg a{
    width: 50%;
  }
  .variant .categoryText a{
    width: 100%;
  }
  .variant .first,.variant .categoryRelated .relatedNews{
    width: 50%;
  }
  .photo\&video .categoryImg a{
    width: 100%;
  }
  .variant .categoryRelated{
    flex-direction: column;
    align-content: flex-end;
  }
  .photo\&video .categoryRelated{
    flex-direction: row;
    align-content: center;
  }
  .photo\&video .othersSub{
    width: 45%;
  }
  .variant .categoryImg{
    gap:20px;
  }
  .photo\&video .categoryImg{
    flex-direction: column;
    gap:0
  }
  .upComing{
    width: 60%;
  }
  .upHead span{
    margin-right: 0;
  }

  .upSub{
    display: inline-block;
  }
  .endPage{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .endPage a{
    width: fit-content;
  }

}
@media only screen and (min-width: 940px) {
  #header{
    margin-bottom: 200px;
  }
  .upComing{
    width: 65%;
  }

}

@media only screen and (min-width: 1040px) {

  #homeEndImg{
    width: 18vw;
  }
  #lastAd{
    display: block;
  }
  .subArticle{
    width: 100%;
  }
  .paper{
    width: 30%;
  }
  .headlines{
    width: 15%;
  }
  .front{
    width: 50%;
  }
  .half .enderPart{
    width: 38%;
    margin-right: 30px;
  }
  .a{
    width: 40%;
    margin-right: 30px;
  }
  .half .subscribeButton{
    width: 40%;
  }
  .a .enderPart{
    width: 100%;
  }
  .half{
    width: 50%;
    margin-right: 0;
    flex-direction: row;

  }
  .photo\&video .category{
    width: 70%;
  }
  #section > .category{
    width: 70%;
  }
  .categories .category{
    width: 25%;
  }

  .photo\&video .promoFull{
    width: 20%;
  }
  .a{
    flex-direction: column;
  }
  .variant .categoryRelated {
    width: 40%;
  }
  .variant .categoryImg{
    width: 40%;
  }
  .photo\&video .categoryRelated {
    width: 45%;
    flex-direction: column;
  }
  .photo\&video .categoryImg{
    width: 50%;
    margin-right: 20px;
  }
  .photo\&video .othersSub{
    width: 100%;
  }
  #menuA,#menuB{
    display: none;
  }
  .headButton{
    display: flex;
  }
  #allSections{
    display:block;
    background-color: #fafafa;
  }
  #header{
    height: 300px;
    border: none;
    margin-bottom: 200px;
    box-shadow: none;
    padding: 0;
    margin-top: 0;
  }
  #header .firstLevel{
    height: 65px;
    padding-top: 0;
    margin-top: 0;
  }
  #header .firstLevel .home{
    visibility: hidden;
  }
  #header .thirdLevel{
    border-bottom: black solid 1px;
  }
  #header .secondLevel,#header .thirdLevel,#header .fourthLevel{
    display: flex;
  }
  .meteoAndDate{
    display: none;
  }
  .secondLevel .meteoAndDate{
    display: flex;
  }
  .upComing{
    width: 70%;
  }

}
@media only screen and (min-width: 1130px) {
  .upComing{
    width: 75%;
  }
}
@media only screen and (min-width: 1280px) {

  .articleTitle,.subArticle,.mainImg{
    width: 50%;

  }
  #header .thirdLevel{
    gap:15px;
  }
  #header .fourthLevel{
    margin-left: auto;
    margin-right: auto;

  }
  #section{
    margin-left: auto;
    margin-right: auto;
  }
  .upComing{
    width: 78%;
  }

}
@media only screen and (min-width: 1400px) {

  .half .enderPart{
    width: 100%;

  }
  .half{
    margin-right: 145px;
    width: 25%;
  }
  #half2{
    width: 50%;
  }
  #half2 .a{
    margin-right: 145px;
  }

}
