body{
  font-family: Helvetica, sans-serif;
  width: auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  line-height: 19px;
  overflow-x: hidden;
}
button:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  color: #005d9b;
}
img{
  width: 100%;
  height: 100%;
}
div{
  display: flex;
}
button{
  background-color: inherit;
  border: none;
}

header{
  display: flex;
  position: sticky;
  top:0;
  margin-bottom: 90px;
  flex-direction: column;
  border-bottom: 1px solid #9d9a98 ;
  background-color: #fafafa;
  justify-content: flex-start;
  align-content: center;
  width: auto;
  max-width: 100%;
  height:65px;
  z-index: 200;
}
#header .firstLevel{
  display: flex;
  height: 65px;
  width: auto;
  max-width: 100%;
  margin-left: 3%;
  padding-left: 10px;
  margin-right: 1%;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.firstLevel .neutral{
  margin-right: 10px;
}
#header .secondLevel{
  width: auto;
  display: none;
  height: 65px;
  flex-direction: row;
  justify-content: center;
}
#header .thirdLevel{
  width: auto;
  padding: 20px;
  display: none;
  justify-content: center;
  gap:2vw;
  align-items: center;

}
.thirdLevel .headCategory:hover{
  text-decoration: underline;
}
#header .fourthLevel{
  width: auto;
  max-width: 1280px;
  display: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  gap:40px
}
#header .fourthLevel .linksPart{
  gap:25px;
}
.fourthLevel .textPart p{
  color: #00538a;
  font-size: 15px;
  font-weight: bolder;
}
.fourthLevel .headLinks{
  font-weight: lighter;
  font-size: 14px;
}
.menuGroup {
  padding-right: 10px;
}
.menuGroup .menu{
  align-self: center;
}
.menu{
  height: 20px;
  border:none;
  width: 20px;
  padding: 0;
  background-color: inherit;
}

#allSections{
  margin-left: 5px;
  display: none;
  height: fit-content;
  border:none;
  width: fit-content;
  font-size: 17px;
  background-color: inherit;
  color: #616161;
  font-weight: bolder;
}
.neutral{
  width: fit-content;
}
.home{
  border:none;

  width: 52vw;
  max-height:95%;
  max-width: 300px;
  background-color: #fafafa;
}
.headButton{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00538a;
  color: white;
  width: 120px;
  height: 45px;
  margin-right: 20px;
  font-size: 17px ;
  border-radius: 5px;
}
.headButton:hover{
  text-decoration: underline;
  color: white;
  background-color: steelblue;
}
#lateralMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  z-index:10000;
}

.meteoAndDate{
  padding: 0 5px 15px 5px;
}
.meteo a:hover{
  color: black;
}
.secondLevel .meteoAndDate{
  display: none;
  position: fixed;
  left: 0;
  margin-left:3%;
  padding: 15px 0;
}
.meteo{
  align-self: center;
  width: 60px;
  height: 27px;
}
.meteo a{
  width: 100%;
  height: 100%;
  display: flex;
}
.temperature{
  width: 34px;
  height: 100%;
}
.meteoIcon{
  width: 26px;
  height: 100%;
}
.todayDate{
  margin-left: 15px;
  flex-direction: column;
}
.dateShow{
  font-weight: bold;
  font-size: 16px;
  margin:0;
}
.todayDate a{
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  color: #7f817f;
}
.todayDate a:hover{
  color: #7f817f;
  text-decoration: underline;
}
#accountMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  justify-content: flex-end;
  z-index:10000;
}
#accountMenu{
  transition: width 0.05s;
}
#searchMenu{
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  width: 100%;
  display: none;
  position: fixed;
  top:65px;
  justify-content: flex-end;
  z-index:10000;
}
#searchMenu{
  transition: width 0.05s;
}
.lateral{
  border: black solid 1px;
  flex-direction: column;
  background-color: #fafafa;
  width: 100%;
  min-height:100% ;
  height:fit-content;
  max-width:300px;
}
#searchMenu .lateral{
  max-width: none;
  height: fit-content;
  min-height:0 ;
  padding: 10px 4%;
  border: #7d7d7d solid 2px;
  box-shadow: black 0 0 5px;
}

.search div{
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 5px;
}
.search img{
  flex-grow: 0;
  width: 20px;
  height: 20px;
}
.search form{
  display: flex;
  padding: 5px;
  width: 100%;
}
.search form input{
  border: none;
  font-size: 17px;
  color: black;
  font-weight: lighter;
  background-color: inherit;
  margin-right: auto;
}
.search form button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #095f9e;
  cursor:pointer;
  color:white ;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  padding: 8px 10px;
  border-radius: 5px;

}
:focus {
  outline: white;
}
::placeholder {
  color: #7d7d7d ;
  background-color: inherit;
  opacity: 1;
}
.up{
  flex-direction: column;
  padding:0 10px;
}
#accountMenu .signupMenu{
  margin-top:auto;
  margin-bottom: 25vh;
}
.up .homepage{
  align-content: baseline;

}
.homepage a{
  font-weight: bold;
  font-size: 20px;
}

#figure{
  margin-right: 15px;
  width: 15px;
  height: 15px;
}
#figure img{
  width: 100%;
  height:100%;
}

.signupMenu{
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-top: black solid 1px;
  padding-top: 20px;
  height: fit-content;
}
.signupMenu p{
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;

}

.signupMenu a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005d9c;
  border: #005d9c solid 1px;
  text-decoration: none;
  color: white;
  width: 75%;
  height: 40px;
  border-radius: 5px;
}
.signupMenu a:hover{
  background-color: steelblue;
  text-decoration: underline;
}
.subscribeButtonMenu{
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  justify-content: center;
}
.subscribeButtonMenu a{
  font-size: 16px;
  color: white;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #005d9c solid 1px;
  border-radius: 5px;
  background-color: #005d9c;
}


.subscribeButtonMenu a:hover{
  text-decoration: underline;
  background-color: steelblue;
  border-color: #005d9c;

}
section{
  flex-direction: column;
  width: auto;
  max-width: 1280px;
  margin: 5px;
  padding: 5px;
  display: flex;
}
#breakingNews{
  width: 273px;
  background-color: #eeff41;
  display: flex;
  padding: 5px;
  align-items: center;
  height: fit-content;
  margin-bottom: 35px;
}
.content{
  height: fit-content;
  width: 236px;
  display: inline;
}
#breakingNews h2{
  font-size: 17px;
  margin: 0 20px 0 0;
  font-weight: 790;
  width: auto;
  display: inline;
  height: fit-content;
}
.breakingText{
  display: inline;
  width: fit-content;
}
#breakingNews a,#breakingNews p{
  font-weight: lighter;
  height: fit-content;
  font-size: 16px;
  color: black;
  width: auto;
  margin: 0;
}
#breakingNews a{
  margin-right: 20px ;
  display: inline;
}
#breakingNews p{
  display: inline-block;
}
#breakingNews a:hover{
  color: black;
  text-decoration: underline;
}
#breakingNews button{
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: auto;
}
.frontPage{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
.front{
  flex-direction: column;
  width: 273px;
  height: fit-content;
}
.articles{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}
.main{
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: #ddd8d5 solid 1px;
}
.articleTitle{
  width: 100%;
  flex-direction: column;
}
.articleTitle h1{
  font-weight: 800;
  font-family:Helvetica, sans-serif;
}
.articleBody{
  margin-top: 0;
  font-size: 16px;
  color: #737272 ;
  font-weight: lighter;
  font-family: "Times New Roman", Serif;
}
#mainTitle{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 29px;
}
#mainTitle h1{
  margin-top: 0;
}
.imageWrapper{
  width: 100%;
  height: fit-content;
}
.imageWrapper a{
  width: 100%;
}
/*.image-wrapper img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
}*/
.relatedTitle{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: #5c5a5e;
}
.related{
  margin: 0;
  padding: 5px 5px 0 5px;
  list-style: none;
  border-top: #aaa7a4 solid 1px;
}
.related a{
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
}
.related li{
  padding: 5px 0;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
.related li:before{
  content:"•";
  font-size:13px;
  vertical-align:middle;
  line-height:20px;
}
.related li div{
  display: flex;
  flex-direction: column;
}
.timeAgo{
  color: #6a6a73;
  font-size: 12px;
  margin: 5px 0 0 0;
}
.subArticles{
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  column-gap:20px;
}
.subArticle{
  width: 100%;
  height: auto;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 0;
  border-bottom: #aaa7a4  solid 1px;
}
.subArticleText{
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
}
.subArticle a {
  width: 58px;
  height: fit-content;
}
.subArticleText a{
  height: 40%;
  width: 100%;
  font-weight: 780;
  font-size: 20px;
}
.subArticle a img{
  height: 100%;
  width: 100%;
}
.ad{
  margin-top: 40px;
  width: 273px;
  flex-direction: column;
}
#lastAd{
  display: none;
}
.special{
  border-bottom: #da4b1f solid 2px;
  display: block;
  width: 100%;
  color: #dc582f;
  margin:0 0 5px 0;
  font-weight: normal;
  font-size: 22px;
}

.images{
  max-width: 400px;
  height: fit-content;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.images a{
  height: fit-content;
}
.images a img{
  height: 90px;
  width: 100%;
}
.seeAll{
  color: #808080;
  font-size: 13px;
  font-weight: normal;
}
.seeAll:hover{
  color: #808080;
}
.headlines{
  flex-direction: column;
  margin-top: 60px ;
  width: 273px;
  height: fit-content;
}
.newsHead{
  color: #5d5b5a;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: #005d9c solid 2px;
  font-family: "Times New Roman", serif;
}
.headline{
  border-top: #ddd8d5 solid 1px;
  padding: 20px 0;
  flex-direction: column;
  width: 273px;
}
#firstHeadline{
  border: none;
}
.headline a{
  font-size: 15px;
}
.headline a p{
  display: inline;
}
.signup{
  background-color: #ecede7;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-items:  center;
  height: 100px;
  padding: 10px;
  width: 100%;
}
.signup p{
  margin: 15px;
  text-align: center;
  font-weight: 790;
  font-size: 16px;
}
.signup a{
  border: #005d9c solid 2px;
  color: #005d9c;
  width:100px;
  height: 40px;
  background-color: #ecede7;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup a:hover{
  background-color: #0072b4;
  color: white;
}
.subPrime{
  flex-direction: row;
  align-content: baseline;
  flex-wrap: wrap;
}
.subOnly{
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0 5px;
  background-color: #005e9d;
  color: white;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  text-align: left;
}
.paper{
  margin: 50px 0 0 0;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.paper a {
  width: 50vw;
  margin:0 auto;
  height: fit-content;
}
.recommended{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
}
.frontPage + .recommended{
  width: 172px;
}
.forYou{
  font-family: "Times New Roman", Serif;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #005d9c;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  border-bottom: #005d9c solid 2px;
}
.element{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.number{
  background-color: #005d9c;
  color: white;
  border-radius: 1000px;
  flex: 0 0 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}
.text{
  font-size: 16px;
}
.categories{
  width: 123px;
  flex-direction: row;
  margin-top: 130px;
  flex-wrap: wrap;
}
.category{
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 30px ;
}
#section > .category{
  width: 213px;
}
.categoryName a{
  text-decoration: none;
  width: 100%;
  border-bottom: #005d9b solid 2px;
}

.categoryName .categoryHead{
  color: #5d5b5a;
  font-family:"Times New Roman", serif;
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: normal;
  display: flex;
  gap:0;
  align-items: center;
  margin-bottom: 0;
}
.categoryHead:hover{
  filter: invert(14%) sepia(99%)
  saturate(5833%) hue-rotate(194deg)
  brightness(87%) contrast(100%);
}
.categoryName .categoryHead img{
  width: 30px;
}

.categoryImg{
  padding: 0;
  flex-direction: column ;
  width: 100%;
}
.categoryImg a{
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  line-height: 29px;
  height: fit-content;
}
.categoryImg p{
  margin:15px 0 20px 0;
  font-size: 16px;
  font-family: Helvetica, sans-serif ;
}
.categoryText{
  flex-direction: column;
  margin-top: 25px;
}
.categoryText a{
  margin-top: 0;
  letter-spacing: -1px;
}
.categoryRelated a{
  letter-spacing: -0.2px;
}
.categoryRelated{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.relatedNews{
  border-top: #ddd8d5 solid 1px;
  flex-direction: column;
  padding: 15px 0 10px 0;
}
.relatedNews a{
  letter-spacing:-0.2px ;
  font-weight: 600;
  font-size: 15px;
}
.photo\&video {
  margin: 150px 0 0 0;
  width:213px;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo\&video .categoryHead{
  margin-bottom: 0;

}
.photo\&video .categoryText{
  margin-top:5px;
}
.variant .categoryRelated .categoryText {
  margin-top:5px;
}
.photo\&video .categoryImg a{
  line-height: 33px;
}
.variant .categoryImg a{
  font-size: 29px;
  font-weight: 700;
}
.photo\&video .categoryImg p{
  display: none;
}
.variant{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: #aaa7a4 solid 1px;
}
.variant .articleBody{
  font-family: "Times New Roman", serif;
}
.photo\&video .variant{
  border-bottom: none;
}
.othersSub{
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-bottom: #DDD8D5 solid 1px;
  border-collapse: collapse;
  padding :10px 0 40px 0;
}
#lastSub{
  border: none;
}
.subImg{
  flex: 0 0 90px;
  height: 50px;
  margin-right: 15px;
}
.subImg a{
  width:100%;
  height: 100%;
}
.subImg img{
  width:100%;
  height: 100%;
}
.variant .othersSub a{
  font-size: 15px;
  font-weight: 600;
}

.centeredGeometry{
  justify-content: center;
  border-top: #DDD8D5 solid 1px;
  border-collapse: collapse;

}
#triangolo {
  width: 0;
  height: 0;
  line-height: 0;

  border-top: 25px solid #E5E4E2;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.showMore{
  background-color: #fafafa;
  display: block;
  text-align: center;
  border: none;
  color: #095f9e;
  font-size: 16px;
  font-weight: 700;
}
.showMore:hover{
  color: black;
}
.hiddenArticles{
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
  margin-bottom: -20px;
}

.hiddenArticles a{
  width: 100%;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
}
.hiddenArticles img{
  width: 100%;

}
.hiddenArticle{
  width: 46%;
  flex-direction: column;
  height: auto;
  margin-bottom: 65px;
}

.promoFull{
  width: 100%;
  max-width: 552px;
  max-height: 287px;
  margin-bottom: 40px;
  margin-top: 70px;
  height: fit-content;
}

.photo\&video .relatedNews{
  border-top: none;
  border-bottom:#E5E4E2 solid 1px;
}

li button{
  margin: auto;
}

.upComing{
  background-color: white;
  flex-direction: column;
  width: auto;
  height: 260px;
  margin:20px 5px 100px 5px;
  padding: 0 5px;
  font-family: "Roboto Condensed",Roboto,sans-serif;
}
.upComing a:hover{
  color:black;
}
.upHead{
  height: fit-content;
  max-height:27px;
  padding:5px 15px 5px 20px;
  justify-content: space-between;
}

#upTitle{
  font-weight: normal;
  font-size: 19px;
}
.upSub{
  display: none;
  font-size: 12px;
  font-weight: normal;
  margin-right: 20px;
}
.upHead span{
  margin-right: 15px;
  display: none;
}
.upHead div{
  justify-content: flex-end;
  align-items: center;
}
.upHead div img{
  max-width: 12px;
  max-height: 12px;
}
.upHead span a{
  max-width: 10px;
  max-height: 10px;
}
.upMain{
  max-height: 172px;
  height: 172px;
}
.wrapper{
  position: relative;
  width: 100%;
  height: 172px;
  overflow: hidden;
  margin-left: 5px;
}
.draggable{
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 233.33%;
  height: 172px;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.sliderContainer{
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
}
.drag{
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: white;
  border: none;
}

.dragElementHead{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin:0;
  width: auto;
  height: 130px;

}
.dragElementHead span{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: fit-content;
  font-size: 11px;
  line-height: 14px;
  font-weight: lighter;
}

.dragElement{
  margin-right:10px;
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#first .dragElementHead{
  background-image: url("../img/up.jpg");
}
#second .dragElementHead{
  background-image: url("../img/up.jpg");
}
#third .dragElementHead{
  background-image: url("../img/up.jpg");
}
#fourth .dragElementHead{
  background-image: url("../img/up.jpg");
}
#fifth .dragElementHead{
  background-image: url("../img/up.jpg");
}
#sixth .dragElementHead{
  background-image: url("../img/up.jpg");
}
#seventh .dragElementHead{
  background-image: url("../img/up.jpg");
}
.dragElementDescription{
  height: 42px;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2px;
}
.dragElementDescription h4{
  margin: 0;
  font-weight: 700;
  font-size: 13px;

}
.dragElementDescription p{
  margin: 5px 0 0 0 ;
  font-weight: lighter;
  font-size: 12px;
}
#first .dragElementDescription{
  background-color: #005e9d;
  color: white;
}
.upInteractive{
  padding: 6px 20px 0 25px;
  height:50px;
  align-items: center;
  overflow: hidden;
}
.upInteractive img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.days{
  max-height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.upInteractive .days a{
  width: 50px;
  height: 52px;
  flex-direction: column;
  padding: 0 0;
  justify-content: center;
  align-content: center;
}
.upInteractive .days a p{
  margin: 0;
  width: 50px;
  height: 20px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.day{
  font-size: 15px;
}
.date{
  font-size: 20px;
}

footer{
  margin-top: 200px ;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: black 0 0 5px inset;
  background-color: #f5f5f5;
}
.end{
  padding: 10px 0 20px 0;
  flex-direction: column;
  max-width: 1350px;
  width: auto;
}
#footer .homeEnd{
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.homeEnd a{
  width: fit-content;
}
.homeEnd a:hover{
  cursor: pointer;
}
#homeEndImg{
  width: 250px;
}
.options{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;

}
.enderPart{
  flex-direction: column;
  border-top: black solid 2px;
  width: 100%;
  padding: 15px 0 20px 0;
  height:fit-content;
}
.headHid{
  justify-content: space-between;
  align-content: baseline ;
}
.headHid button{

  width: 24px;
  height: 24px;
}
.headHid img{
  width: 100%;
  height: 100%;
}
.ender{
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 10px;
}
.ender:hover{
  text-decoration: underline;
  color: black;
}
#hiddenNews,#hiddenContact,#hiddenClass,#hiddenBusiness{
  display: none;
  flex-direction: column;
  margin-top: 10px;
}
.hiddenLink{
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
}
.hiddenLink:hover{
  color: black;
}
.subscribeButton{
  padding-top: 20px;
  width: 100%;
  height: 13vw;
  border-top: black solid 2px;
}
.subscribeButton a{
  font-size: 20px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #005d9c solid 1px;
  border-radius: 5px;
  background-color: #005d9c;
}
.subscribeButton a:hover{
  text-decoration: underline;
  background-color: steelblue;
  border-color: steelblue;
}
.endFinal{
  margin-top: 20px;
  flex-direction: column;
  width: 100%;

  border-top: #d3d3d3 solid 1px;
}
.endPage{
  padding-top: 30px;
  margin-bottom: 110px;
  padding-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.endLink{
  max-width: 1250px;
  width: 100%;
  color: #686665;
  margin: 12px 0;
  font-weight: lighter;
  font-size: 17px;
}
.endLink:hover{
  color: #686665;
}
.lateral .enderPart{
  flex-direction: column;
  justify-content: space-between;
  border:none;
  padding:0;
  margin:0;

}
.lateral .enderPart button{
  width: 30px;
  height: 30px;
}
.lateral .enderPart button img{
  width: 100%;
  height: 100%;
}

#hiddenMenuNews,#hiddenMenuOpinion{
  padding-left: 20px;
  display: none;
  flex-direction: column;
}
.lateral .hiddenLink{
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}
.lateral  .ender{
  font-weight: bold;
  margin:0;
  font-size: 15px;
}
.lateral  .ender:hover{
  text-decoration: none;
}
.lateral .headHid{
  margin-top: 20px;
}
.subscribeLog{
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;

}
.subscribeLog a{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 60px;
}
#accountMenu .subscribeLog a{
  margin-bottom: 30px;
}
#accountMenu .subscribeLog {
  margin-bottom: 60px;
}
.subscribeLog a:hover{
  color: black;
}
#homePage:hover{
  color: black;
}
.half{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.a{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.half .enderPart,.half .subscribeButton{
  width: 100%;
}
@media only screen and (min-width: 160px) {
  .categories {
    width: 100%;
  }
}
@media only screen and (min-width: 210px) {
  .frontPage + .recommended{
    width: 100%;
  }
}
@media only screen and (min-width: 245px) {
  #section > .category{
    width: 100%;
  }
}
@media only screen and (min-width: 250px) {
  .photo\&video {
    width:100%;
  }
}

@media only screen and (min-width: 272px) {
  .upHead span{
    display: inline;
  }
}
@media only screen and (min-width: 300px) {
  /*homeEnd*/

}
@media only screen and (min-width: 310px) {
  #breakingNews{
    width: 100%;
  }
  .content{
    width: 100%;
  }
  .front{
    width: 100%;
  }
  .headlines{
    width: 100%;
  }
  .headline{
    width: 100%;
  }
  .ad{
    width: 100%;
  }

}
@media only screen and (min-width: 320px)  {
  .subArticle a{
    width: 45%;
  }
  .subArticleText a{
    height: 40%;
    width: 100%;
    font-weight: 780;
    font-size: 20px;
  }


  
}
@media only screen and (min-width: 425px){
  #lastAd{
    display: block;
  }
}@media only screen and (min-width: 456px){
  .upSub{
    display: block;
  }
  .upHead span{
    margin-right: 0;
  }
}

@media only screen and (min-width: 640px) {


  #homeEndImg{
    width: 40vw;
  }
  .main{
    gap:20px;
  }
  .articleTitle,.subArticle,.main .imageWrapper{
    width: 48%;
  }
  #mainTitle h1{
    font-size: 28px;
    font-weight: 800;
  }
  .articleTitle h1{
    margin-top: 0;
  }
  .paper a{
    width: 90%;
    max-width: 550px ;
    max-height: 700px;
  }
  .element{
    width: 50%;
  }
  .categories{
    gap:20px;
  }
  .categories .category{
    max-width: 48%;
  }
  .photo\&video .categoryRelated{
    gap: 20px;
  }
  .photo\&video .othersSub{
    width: 48%;
  }
  .centeredGeometry,.showMore{
    width: 100%;
  }
  #lastSub{
    border-bottom: #DDD8D5 solid 1px;
  }
  .upComing{
    width: 50%;
    margin-bottom: 40px;
  }
  .upHead span{
    margin-right: 15px;
  }
  .upSub{
    display: none;
  }
  #footer{
    margin-top: 0;
    overflow: hidden;
  }
  .end{
    width: 38%;
  }
  #footer .homeEnd{
    padding-bottom: 15px;
    padding-left: 3%;
  }
  .subscribeButton{
    height: 40px;
  }
  .subscribeButton a{
    font-size: 15px;
  }
  #hiddenNews,#hiddenContact,#hiddenClass,#hiddenBusiness {
    display: flex;
  }
  #newsButton,#contactButton,#classButton,#businessButton{
    display: none;
  }

  .endLink{
    margin: 3px;
  }
  .options{
    padding-left: 3%;
    margin-left: 15px;
  }

}
@media only screen and (min-width: 800px) {
  .home{
    height: 8vw;
    width: 33vw;
  }
  #header{
    margin-bottom: 130px;
  }
  .breakingText{
    display: flex;
    gap:25px;
  }
  #breakingNews a,#breakingNews h2{
    margin-right: 0 ;
  }#breakingNews p{
     display: inline;
   }

  .content{
    display: flex;
    gap:25px;
  }
  .front{
    margin-right: 20px;
  }
  .recommended{
    width: 60%;
  }
  .ad{
    margin-bottom: 100px;
  }

  .subArticle .subArticleText,.subArticle a{
    width: 100%;
  }
  .subArticle{
    flex-direction: column;
    width: 46%;
  }
  .front{
    width: 40%;
  }
  .paper,.headlines{
    width: 28%;
    margin-top: 0;
  }
  .newsHead{
    margin-top: 0;
  }
  .paper{
    margin-left: 0px;
  }
  .paper a{
    margin: 0px;
    width: 100%;
  }
  .articleTitle,.main .imageWrapper{
    width: 100%;
  }
  #lastAd{
    display: none;
  }
  .photo\&video{
    gap: 20px;
  }

  .photo\&video .category,.category{
    width: 60%;
  }
  .photo\&video .categoryText .articleBody{
    display: flex;
  }
  .hiddenArticles .hiddenArticle{
    width: 30%;
  }
  .photo\&video .promoFull{
    width:37%;
    margin-top: 50px;
  }
  .promoFull a{
    margin-top: 0px;
  }
  .end{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .categories{
    margin-top:160px;
  }
  .half{
    width: 30%;
    margin-right: 150px;
  }
  #footer .homeEnd{
    justify-content: flex-start;
  }
  #homeEndImg{
    width: 28vw;
  }
  .half .enderPart{
    width: 100%;
  }

  .categories .category{
    max-width: 48%;
  }
  .category + .recommended{
    width: 100%;
  }
  .variant .categoryImg{
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .categoryText{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .variant.categoryText{
    width: 50%;
  }
  .variant .categoryImg .categoryText{
    border-bottom: #ddd8d5 solid 1px;
  }
  .photo\&video .variant .categoryImg .categoryText{
    border-bottom: none;
  }
  .variant .categoryImg a{
    width: 50%;
  }
  .variant .categoryImg a{
    width: 100%;
  }
  .variant .categoryText a{
    width: 100%;
  }
  .variant .first,.variant .categoryRelated .relatedNews{
    width: 48%;
    border-top: none;
    border-bottom: #ddd8d5 solid 1px;
  }
  .photo\&video .categoryImg a{
    width: 100%;
  }
  .variant{
    border-bottom: none;
  }
  .variant .categoryRelated{

    flex-direction: column;
    align-content: flex-end;
    margin-bottom: 20px;
  }
  .photo\&video .categoryRelated{
    flex-direction: row;
    align-content: center;
  }
  .photo\&video .othersSub{
    width: 45%;
  }
  .variant .categoryImg{
    gap:20px;
  }
  .photo\&video .categoryImg{
    flex-direction: column;
    gap:0
  }
  .upComing{
    width: 60%;
  }
  .upHead span{
    margin-right: 0;
  }

  .upSub{
    display: inline-block;
  }
  .endPage{
    flex-direction: row;
    padding-top: 15px;
    flex-wrap: wrap;
    margin-bottom:100px;
    column-gap: 10px;
  }
  .endPage a{
    width: fit-content;
    font-size: 13px;
  }
  .half{
    width: 27%;
  }
  .options{
    justify-content: space-between;
    margin-left: 0;
  }

}
@media only screen and (min-width: 940px) {

  .upComing{
    width: 65%;
  }
  #lastAd{
    display: block;
  }

}
@media only screen and (min-width: 1000px){
  #header{
    margin-bottom: 280px;
  }
  .photo\&video{
    margin-top: 250px;
  }
  .ad{
    margin-bottom: 200px;
  }
}

@media only screen and (min-width: 1040px) {
  .headlines{
    margin-right: 20px;
  }
  .recommended{
    width: 70%;
  }
  .category + .recommended{
    width: 100%;
  }
  #homeEndImg{
    width: 18vw;
  }
  .subArticles{
    margin-bottom: 20px;
  }
  .subArticle{
    flex-direction: row;
    border: none;
    width: 100%;
  }
  .subArticle .subArticleText{
    width: 43%;
  }
  .subArticle a{
    width: 57%;
  }
  .subArticleText a{
    width: 100%;
  }
  .paper{
    width: 29%;
  }
  .headlines{
    width: 18%;
  }
  .front{
    width: 48%;
  }
  .ad{
    margin-bottom: 250px;
  }
  .half .enderPart{
    width: 38%;
    margin-right: 30px;
  }
  .a{
    width: 40%;
    margin-right: 30px;
  }
  .half .subscribeButton{
    width: 40%;
  }
  .a .enderPart{
    width: 100%;
  }
  .half{
    width: 50%;
    margin-right: 0;
    flex-direction: row;

  }
  .photo\&video .category{
    width: 68%;
  }
  #section > .category{
    width: 68%;
  }
  .categories .category{
    width: 24%;
  }
  .categories{
    margin-top:280px;
  }
  .photo\&video .promoFull{
    width: 23%;
  }
  .hiddenArticles .hiddenArticle{
    width: 23%;
  }
  .a{
    flex-direction: column;
  }
  .variant .categoryRelated {
    width: 35%;
  }
  .variant .categoryRelated .relatedNews{
    width: 100%;
  }
  .variant .categoryImg{
    width: 60%;
    margin-right: 5%;
    gap:10px;
  }
  .variant .categoryImg .categoryText{
    border-bottom: none;
  }
  .photo\&video .categoryRelated {
    width: 45%;
    flex-direction: column;
  }
  .photo\&video .categoryImg{
    width: 50%;
    margin-right: 20px;
  }
  .photo\&video .othersSub{
    width: 100%;
  }
  #menuA,#menuB{
    display: none;
  }
  .headButton{
    display: flex;
  }
  #allSections{
    display:block;
    background-color: #fafafa;
  }
  #header{
    height: 300px;
    margin-bottom: 220px;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-top: 0;
  }
  #header .firstLevel{
    height: 65px;
    padding-top: 0;
    margin-top: 0;
  }
  #header .firstLevel .home{
    visibility: hidden;
  }
  #header .thirdLevel{
    border-bottom: black solid 1px;
  }
  #header .secondLevel,#header .thirdLevel,#header .fourthLevel{
    display: flex;
  }
  .meteoAndDate{
    display: none;
  }
  .secondLevel .meteoAndDate{
    display: flex;
  }
  .upComing{
    width: 70%;
    margin-bottom: 290px;
  }
  .endPage{
    margin-bottom:15px;
  }
  .half,#half2{
    gap: 8%;
    width: 47%;
  }

  .options{
    gap:1%;
    justify-content: flex-start;
  }
  .half .enderPart{
    margin-right: 0;
    width: 42%;
  }
  #half2 .a{
    margin-right: 0;
  }
  #half2 .enderPart{
    width: 100%;
  }
}
@media only screen and (min-width: 1130px) {
  .upComing{
    width: 75%;
  }
}
@media only screen and (min-width: 1280px) {

  .front{
    width: 57%;
    margin-right: 15px;
  }
  .main{
     gap: 30px;
  }
  .paper{
    width: 20%;
  }
  .subArticle{
    width: 48%;
    flex-direction: column;
  }
  .subArticle a,.subArticle .subArticleText{
    width: 100%;
  }
  .articleTitle{
    width: 40%;
  }
  .main .imageWrapper{
    width: 55%;
  }
  .photo\&video .category{
    width: 75%;
  }
  #section > .category{
    width: 75%;
  }
  #header .thirdLevel{
    gap:15px;
  }
  #header .fourthLevel{
    margin-left: auto;
    margin-right: auto;

  }
  #section{
    margin-left: auto;
    margin-right: auto;
  }


}
@media only screen and (min-width: 1310px) {
  .upComing{
    width: 78%;
  }
}@media only screen and (min-width: 1360px) {
  .endPage{
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (min-width: 1431px) {
  .options{
    flex-wrap: nowrap;
  }

  .half .enderPart{
    width: 100%;
  }

  #half2 .a .enderPart{
    width: 100%;
  }
  .half{
    margin-right: 145px;
    width: 20%;
  }
  #half2{
    width: 67%;
    margin-right: 0;
    gap:145px;
  }
  #half2 .a{
    width: 30%;
  }
  #half2 .subscribeButton{
    width: 30%;

  }
}

@media only screen and (min-width: 1550px) {
  .end{
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
  }
  .options{
    padding-left: 0;
  }

}
